[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Archanachidirala
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Archanachidirala
	label-Verified = -1..+1 group user/Archanachidirala
	push = group user/Archanachidirala
	read = group user/Archanachidirala
	rebase = group user/Archanachidirala
	removeReviewer = group user/Archanachidirala
	submit = group user/Archanachidirala
[access "refs/heads/*"]
	create = group user/Archanachidirala
	push = +force group user/Archanachidirala
	pushMerge = group user/Archanachidirala
	read = group user/Archanachidirala
[access "refs/tags/*"]
	push = group user/Archanachidirala
	push = +force group user/Archanachidirala
